In [ ]:
tu = (23, 'abc', 4.56, (2,3), 'def')

In [ ]:
li = ["abc", 34, 4.34, 23]

In [ ]:
st = "Hello World"
st = 'Hello World'
st = """This is a multi-line
string that uses triple quotes."""

In [ ]:
tu = (23, 'abc', 4.56, (2,3), 'def')
tu[1] # Second item in the tuple.

In [ ]:
li = ["abc", 34, 4.34, 23]
li[1] # Second item in the list.

In [ ]:
st = "Hello World"
st[1] # Second character in string.

In [ ]:
t = (23, 'abc', 4.56, (2,3), 'def')

In [ ]:
t[1]
t[-3]
t[1:4]
t[1:-1]
t[1:-1:2]
t[:2]
t[2:]
t[:]
list2 = list1
list2 = list1[:]

In [ ]:
t = [1, 2, 4, 5]
3 in t
4 in t
4 not in t
a = 'abcde'
'c' in a
'cd' in a
'ac' in a

In [ ]:
(1, 2, 3) + (4, 5, 6)
[1, 2, 3] + [4, 5, 6]
"Hello" + "" "" + "World"